<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" maxBufferSize="2147483647"
                       maxReceivedMessageSize="2147483647"
                       closeTimeout="01:50:00"
                       openTimeout="01:50:00"
                       sendTimeout="01:50:00"
                       receiveTimeout="01:50:00">
                    <readerQuotas   maxDepth="128" 
        maxStringContentLength="2147483647" 
        maxArrayLength="2147483647" />
                </binding>
            </basicHttpBinding>
        
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Servicio_WFC/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>